.detailed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #D5EEBB;
  padding: 2vh;
}

.detailed button, .detailed button:active, .detailed button:focus,  .detailed button:target{
  padding: 0;
  background: none;
  box-shadow: none;
}

.detailed button:hover {
  background: none;
  box-shadow: none;
  cursor: default !important;
}

.detailed .card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 128px;
  height: 128px;
  background: none;
}

.detailed .card button {
  width: 100%;
  border-radius: 0 0 .25rem .25rem;
  box-shadow: none;
  font-size: .65rem;
  font-weight: bold;
}

.detailed #back, .detailed #next {
  height: 100%;
}

.detailed #back {
  margin-right: 2vh;
}

.detailed .card {
  margin-right: 2vh;
}

.detailed .arrow {
  filter: invert(48%) sepia(7%) saturate(1126%) hue-rotate(74deg) brightness(92%) contrast(91%);
}

.detailed .arrow:hover {
  cursor: pointer;
  filter: invert(100%) sepia(13%) saturate(117%) hue-rotate(246deg) brightness(117%) contrast(100%);
}

.detailed .arrow-right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}