.detailed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #D5EEBB;
  padding: 2vh;
}

.detailed .card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 128px;
  height: 128px;
  background: none;
}

.detailed .card button {
  width: 100%;
  border-radius: 0 0 .25rem .25rem;
  box-shadow: none;
  font-size: .65rem;
  font-weight: bold;
}

.detailed #back, .detailed #next {
  height: 100%;
}

.detailed #back {
  margin-right: 2vh;
}

.detailed .card {
  margin-right: 2vh;
}