@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
@import url('css/time_zone_info.css');

/* Testar så att style.css är korrekt implementerad/länkad */
.navbar-green {
  background-color: #5f7a61;
  height: 100px;
}
/*CSS for Header_2 */
.nav-color{
  background-color:#5f7a61 ;
}
/*Hamburger icon for mainpage*/
.navbar-light .navbar-toggler-icon {
    background-image: url(./images/list.svg) !important
}

/*CSS for sticky footer */
.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.main {
    flex: 1;
}
/*----------------------*/

/* CSS for the analog clock */

.analogClockBody {
box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.analogClock{
  background-color: rgb(213,238,187);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
  box-shadow: 0px 0px 18px #232422;
}

.analogClock span {
  position: absolute;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.2rem;
}

.analogClock .Hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
}

.analogClock .secondHand {
  width: 3px;
  height: 45%;
  background-color: rgb(127,200,169);
}

.analogClock .minuteHand {
  width: 7px;
  height: 40%;
  background-color: rgb(95,122,97); 
}

.analogClock .hourHand {
  width: 7px;
  height: 30%;
  background-color: rgb(68,73,65);
}

.midCircle{
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock12 {
  top: 10px;
  left: 46%;
}

.clock1 {
  top: 10%;
  right: 26%;
}

.clock11{
  top: 10%;
  left: 26%;
}

.clock2 {
  top: 25%;
  right: 10%;
}

.clock3 {
  right: 10px;
  top: 46%;
}

.clock4 {
  right: 30px;
  top: 67%;
}

.clock5 {
  right: 78px;
  top: 80%;
}

.clock6 {
  bottom: 10px;
  left: 50%;
}

.clock7 {
  left: 80px;
  top: 82%;
}

.clock8 {
  left: 30px;
  top: 67%;
}

.clock9 {
  left: 10px;
  top: 46%;
}

.clock10 {
  top: 25%;
  left: 10%;
}
