@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('css/digital_clock.css');
@import url('css/analog_clock.css');
@import url('css/city_carousel.css');
@import url('css/easter_egg.css');
/* Testar så att style.css är korrekt implementerad/länkad */
.navbar-green {
  background-color: #5f7a61;
  height: 100px;
}
.btn-custom{
  background-color: #7FC8A9 !important ;
  
}

.MyCities_Form
{
  margin-top: 3%;
  margin-right: 8%;
  margin-left: 8%;
  margin-bottom: 2%;
}

.backgroundHome{
  background-image: url(./images/nasaBig.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

/*CSS for Header_2 */
.nav-color{
  background-color:#5f7a61 ;
}
.cityCards{
  margin: 2% 2% 2% 2%;
}
/*Hamburger icon for mainpage*/
.navbar-light .navbar-toggler-icon {
  background-image: url(./images/white-hamburger-menu-icon-24.jpg) !important;
  width: 3em;
  height: 3em;
}

/*CSS for sticky footer */
.body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction:column;
    background-color: rgb(213,238,187);
}
.main {
    flex: 1;
    position:relative;
}
html,
.clock-body {
  height: 100%;
  width: 100%;
}

.clock-page{
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(49, 45, 45, 0.45);
  border-radius: 5px;
  text-align: center;
  line-height: 1;
 -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}



